body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.downloads-container {
    text-align: center;
}

.download-item {
    margin-bottom: 20px;
}

.file-name {
    color: white;
    margin-bottom: 5px;
}

.download-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
    transition: 0.3s;
}

.download-button:hover {
    background-color: rgb(98, 98, 98);
    transform: scale(1.1);
}